<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="./test/bootstrap.php"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Zored JSON-RPC test suite">
            <directory suffix="Test.php">./test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>